.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
@font-face {
    font-family:'OpenSans';
    src: url('./fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family:'OpenSans';
    src: url('./fonts/Open_Sans/OpenSans-Light.ttf');
    font-weight:lighter;
    font-style: normal;
}
@font-face {
    font-family:'OpenSans';
    src: url('./fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'OpenSans';
    src: url('./fonts/Open_Sans/OpenSans-Italic.ttf');
    font-weight:normal;
    font-style: italic;
}

.ant-card-bordered {
    border: 1px solid #f0f0f0;
    overflow: hidden;
  }